<!DOCTYPE html>
<html>
  <head>
    <title>Wagon Talk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#E43E3D">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% if notice %>
      <div class="flash flash--notice"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="flash flash--alert"><%= alert %></div>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
